@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body{
  font-family: 'Playfair Display', serif;  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-color: #04113a;
  color: #fff;
}